<!DOCTYPE HTML>
<html>
	<head>
		<title>The Renewable Builder</title>
		<!-- Key words for title: frugal, timeless, eco, renewable, green, DIY timeless construction, DIY Timeless Design, Timeless DIY Construction, Timeless _____  -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="home.ejs" class="logo">The Renewable Builder</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>The Renewable Builder</h1>
											<p>Welcome!</p>
										</header>
										<p>We're glad you're here. This website is intended to help those who wish to take the monumental, rewarding, and exciting challenge of building your own home!</p>
										<p>This place is filled with wonderful resources, helpful tools, and loads of information to assist you in building the home of your dreams while within a reasonable budget</p>
										<ul class="actions">
											<li><a href="buildingOverview.ejs" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/coverHouse.jpg" alt="" />
										<p class="picTag"><small>[1] Unsplash</small></p>
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Advantages of building your own home</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Economical</h3>
												<p>While there are many factors to account for, building your own home is a lot cheaper then hiring it out. Depending on the style and type, you can build a beautiful forever home for less then $50,000!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-canadian-maple-leaf"></span>
											<div class="content">
												<h3>Renewable and environmentally friendly</h3>
												<p>Houses do not need plastic siding that needs replaced every so often, or asphalt shingles that need replaces every 7 years or so. There are so many renewable building materials that are both strong and aesthetically pleasing. Wouldn't you rather have a cute stone cottage or cozy cob house instead? </p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Build the home you want</h3>
												<p>Always wanted a handy mud/laundry room? How about a big galley kitchen? Perhaps even a secret nook that's hidden behind a bookshelf? Well, when you're designing and building your own home that's exactly what you can do!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Learning!</h3>
												<p>Through building your own home, you will learn so much invaluable knowledge throughout the entire process. From how to orient the house properly (the front door does not have to face the road), structural loads, construction methods, and so much more.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ipsum sed dolor</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>Interdum aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3>Nulla amet dolore</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>Tempus ullamcorper</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3>Sed etiam facilis</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3>Feugiat lorem aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3>Amet varius aliquam</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="home.ejs">Home</a></li>
										<li><a href="buildingOverview.ejs">Building Overview</a></li>
										<li>
											<span class="opener"><a href="archDesign.ejs">Architectural Design</a></span>
											<ul>
												<li><a href="archDesign.ejs">Where to Start</a></li>
												<li><a href="archDesign.ejs">From the Ground up</a></li>
											</ul>
										</li>
										<li>
											<span class="opener"><a href="strucDesign.ejs">Structural Design</a></span>
											<ul>
												<li><a href="strucDesign.ejs">Where to Start</a></li>
												<li><a href="strucDesign.ejs">From the Ground up</a></li>
											</ul>
										</li>
										<li>
											<span class="opener"><a href="loads.ejs">Loads</a></span>
											<ul>
												<li><a href="#whatAreBuildingLoads">What are building Loads?</a></li>
												<li><a href="loads.ejs/#howToAccountForLoads">How to account for them?</a></li>
												<li><a href="http://localhost:2121/loads.ejs/#loadPath">Load Path</a></li>
											</ul>
										</li>
										<li><a href="about.ejs">About</a></li>
										<li><a href="references.ejs">References</a></li>
										<li><a href="forum.ejs">Forum</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>I love to talk about housing design, construction, and optimization! Send me an email and I'll try to get back to you as soon as I can. Also feel free to reach out to talk about civil, structural, or software engineering, plants, reading, camping, video games, exercising or some of your interests!</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(812) 264-3556</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; McKinleyForster. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>